#
# Node

NODE_ENV=production

#
# Logging

LOGGING_LEVEL=info

#
# Next

NEXT_REVALIDATE=3600

NEXT_BASE_URL=http://localhost:3000/
NEXT_PUBLIC_BASE_URL=http://localhost:3000/

#
# Contentstack

CONTENTSTACK_REGION=AZURE_NA

CONTENTSTACK_BRANCH=main

CONTENTSTACK_ENVIRONMENT=

CONTENTSTACK_API_KEY=

CONTENTSTACK_DELIVERY_TOKEN=
CONTENTSTACK_MANAGEMENT_TOKEN=

CONTENTSTACK_API_HOST=api.contentstack.io
CONTENTSTACK_APP_HOST=app.contentstack.com

CONTENTSTACK_LIVE_PREVIEW=true
CONTENTSTACK_LIVE_EDIT_TAGS=false

CONTENTSTACK_GRAPHQL_URL=https://azure-na-graphql.contentstack.com/stacks/

#
# Application

APP_API_TOKEN=

APP_PAGE_TYPES=page_home,page_generic,page_posts,page_post
