.Wrapper {
  @apply mx-auto
         max-w-2xl
         py-32
         sm:py-48
         lg:py-56;
}

.Body {
  @apply text-center;
}

.Title {
  @apply text-4xl
         font-bold
         tracking-tight
         text-gray-900
         sm:text-6xl;
}

.Dscription {
  @apply mt-6
         text-lg
         leading-8
         text-gray-600;
}

.Links {
  @apply mt-10
         flex
         items-center
         justify-center
         gap-x-6;
}

.PrimaryLink {
  @apply rounded-md
         bg-indigo-600
         px-3.5
         py-2.5
         text-sm
         font-semibold
         text-white
         shadow-sm
         hover:bg-indigo-500
         focus-visible:outline
         focus-visible:outline-2
         focus-visible:outline-offset-2
         focus-visible:outline-indigo-600;
}

.SecondaryLink {
  @apply text-sm
         font-semibold
         leading-6
         text-gray-900;
}
